<section class="section-padding-top">
    <div class="brand-logo">
        <div class="barnd-bg">
            <div class="container">
                <div class="row text-center">
                    <div id="brand-logo" class="re-owl-carousel21 owl-carousel product-slider owl-theme">
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/nike.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/balenciaga.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/asos.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/bershka.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/versace.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/guess.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/tnf.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="single-brand">
                                <a href="#"><img src="~/Content/BrandsImg/zara.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>